<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chủ</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
<div th:replace="base :: header"></div>



<main class="container"  >
    <h2 class="mt-4 mb-3">Giảng viên thường</h2>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Mã GV</th>
            <th>Tài khoản</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Điện thoại</th>
            <th>Kinh nghiệm</th>
            <th>Chức vụ</th>
            <th>Lớp</th>
            <th>
                Chức năng khác
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t : ${teachersNormals}">
            <td th:text="${t.msgv}"></td>
            <td th:text="${t.username}"></td>
            <td th:text="${t.firstName + ' ' + t.lastName}"></td>
            <td th:text="${t.email}"></td>
            <td th:text="${t.phone}"></td>
            <td th:text="${t.experience}"></td>
            <td th:text="${t.position}"></td>
            <td th:text="${t.role}"></td>
            <td><div>
                <button class="btn btn-danger"
                        th:data-endpoint="@{/api/secure/staff/delete-teacher/}"
                        th:data-id="${t.id}"
                        th:data-token="${token}"
                        onclick="deleteTeacher(this.dataset.endpoint, this.dataset.id, this.dataset.token)">Xóa</button>
                <button class="btn btn-success"
                        th:data-endpoint="@{/api/secure/staff/update-role/}"
                        th:data-id="${t.id}"
                        th:data-token="${token}"
                        onclick="updateRoleTeacher(this.dataset.endpoint, this.dataset.id, this.dataset.token)">Nâng cấp role</button>
            </div></td>
        </tr>
        </tbody>
    </table>

    <h2 class="mt-4 mb-3">Giảng viên supper</h2>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Mã GV</th>
            <th>Tài khoản</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Điện thoại</th>
            <th>Kinh nghiệm</th>
            <th>Chức vụ</th>
            <th>Lớp</th>
            <th>
                Chức năng khác
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t : ${teachersSupers}">
            <td th:text="${t.msgv}"></td>
            <td th:text="${t.username}"></td>
            <td th:text="${t.firstName + ' ' + t.lastName}"></td>
            <td th:text="${t.email}"></td>
            <td th:text="${t.phone}"></td>
            <td th:text="${t.experience}"></td>
            <td th:text="${t.position}"></td>
            <td th:text="${t.role}"></td>
            <td><div>
                <button class="btn btn-danger"
                        th:data-endpoint="@{/api/secure/staff/delete-teacher/}"
                        th:data-id="${t.id}"
                        th:data-token="${token}"
                        onclick="deleteTeacher(this.dataset.endpoint, this.dataset.id, this.dataset.token)">Xóa</button>
                <button class="btn btn-success"
                        th:data-endpoint="@{/api/secure/staff/down-role/}"
                        th:data-id="${t.id}"
                        th:data-token="${token}"
                        onclick="downRoleTeacher(this.dataset.endpoint, this.dataset.id, this.dataset.token)">Hạ role</button>
            </div></td>
        </tr>
        </tbody>
    </table>
</main>

<div th:replace="base :: footer"></div>

<script th:src="@{/js/main.js}"></script>
</body>
</html>