<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <th:block th:replace="base :: resources"></th:block>
</head>
<body>
<div th:replace="base :: header"></th:replace></div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Đăng kí</h3>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="base :: footer"></th:replace></div>

</body>
</html>